# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build/output
*.log
dist/
build/
coverage/

# VSCode / editor
.vscode/
.idea/
*.swp

# GitHub Actions local run artifacts
.actions/